.grid{
    height: 600px;
    width: 600px;
    border: 1px solid black;
    gap: 0%;
    flex: 0 0 auto;
    margin: 0;
    font-size: 0;
}
.main{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.value{
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
}
.btn{
    height: 50px;
    width: 150px;
    border-radius: 10px;
}