body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 960px;
    background-color: rgb(255, 204, 0);
}
.title{
    font-family: monospace;
    font-size: 60px;
    margin-bottom: 20px;
}
.grid{
    height: 600px;
    width: 600px;
    border: 1px solid black;
    gap: 0%;
    flex: 0 0 auto;
    margin: 0;
    font-size: 0;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resetbtn{
    height: 30px;
    width: 100px;
    border-radius: 20px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    width: 600px;
    margin-top: 50px;
    align-items: center;
}
.valuefetch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.colors{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}